<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo" xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://code.alibabatech.com/schema/dubbo 
	http://code.alibabatech.com/schema/dubbo/dubbo.xsd" default-lazy-init="false">

	<dubbo:application name="dubbo_provider"></dubbo:application>
	<dubbo:registry address="zookeeper://10.199.195.228:2181" check="false" subscribe="false" register=""></dubbo:registry>
	<dubbo:monitor address="10.199.195.228:7070"></dubbo:monitor>
	<dubbo:service interface="com.mvc.service.DubboService" ref="dubboService" />

</beans>